<!--
Author: Cruiser Baxter
Date: 09-May-2021
File: info.html
Description: info page view for dating website.
-->

<include href="views/header.html"/>
<main class="container">
    <div>
        <h2>Personal Information</h2>
    </div>

    <hr>
    <div class="text-italic container">
        <div class="container ml-5 mr-5">

        </div>
    </div>
    <hr>
    <div class="text-center">
        <button type="button" class="btn btn-info">Get Started!</button>
    </div>


</main>
</body>
</html>