]<!--
Author: Cruiser Baxter
Date: 09-May-2021
File: info.html
Description: info page view for dating website.
-->

<include href="views/header.html"/>
<main class="container ">
    <div class="border p-4 pb-5 rounded-sm">
        <div>
            <h2>Interests</h2>
        </div>

        <hr>
        <div class="">
            <form action="#" method="post" class="form-inline">

                <!-- get interests -->
                <div class="form-group">
                    <label class="col-sm-2 control-label bold-font">In-door Interests</label>
                    <div class="row-cols-5 p-3">
                        <div class="form-check form-check-inline col">
                            <label class="form-check-label"><input class="form-check-input" type="checkbox"
                                                                   name="outdoor[]"
                                                                   value="ketchup"> TV</label>
                        </div>
                        <div class="form-check form-check-inline col">
                            <label class="form-check-label"><input class="form-check-input" type="checkbox"
                                                                   name="outdoor[]"
                                                                   value="mustard"> Puzzles</label>
                        </div>
                        <div class="form-check form-check-inline col">
                            <label class="form-check-label"><input class="form-check-input" type="checkbox"
                                                                   name="outdoor[]"
                                                                   value="sriracha"> Movies</label>
                        </div>
                        <div class="form-check form-check-inline col">
                            <label class="form-check-label"><input class="form-check-input" type="checkbox"
                                                                   name="outdoor[]"
                                                                   value="ketchup"> Reading</label>
                        </div>
                        <div class="form-check form-check-inline col">
                            <label class="form-check-label"><input class="form-check-input" type="checkbox"
                                                                   name="outdoor[]"
                                                                   value="mustard"> Cooking</label>
                        </div>
                        <div class="form-check form-check-inline col">
                            <label class="form-check-label"><input class="form-check-input" type="checkbox"
                                                                   name="outdoor[]"
                                                                   value="sriracha"> Playing cards</label>
                        </div>
                        <div class="form-check form-check-inline col">
                            <label class="form-check-label"><input class="form-check-input" type="checkbox"
                                                                   name="outdoor[]"
                                                                   value="sriracha"> Board games</label>
                        </div>
                        <div class="form-check form-check-inline col">
                            <label class="form-check-label"><input class="form-check-input" type="checkbox"
                                                                   name="outdoor[]"
                                                                   value="sriracha"> Video games</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label bold-font">Out-door Interests</label>
                    <div class="row-cols-5 p-3">
                        <div class="form-check form-check-inline col">
                            <label class="form-check-label"><input class="form-check-input" type="checkbox"
                                                                   name="outdoor[]"
                                                                   value="ketchup"> Hiking</label>
                        </div>
                        <div class="form-check form-check-inline col">
                            <label class="form-check-label"><input class="form-check-input" type="checkbox"
                                                                   name="outdoor[]"
                                                                   value="mustard"> Walking</label>
                        </div>
                        <div class="form-check form-check-inline col">
                            <label class="form-check-label"><input class="form-check-input" type="checkbox"
                                                                   name="outdoor[]"
                                                                   value="sriracha"> Biking</label>
                        </div>
                        <div class="form-check form-check-inline col">
                            <label class="form-check-label"><input class="form-check-input" type="checkbox"
                                                                   name="outdoor[]"
                                                                   value="ketchup"> Climbing</label>
                        </div>
                        <div class="form-check form-check-inline col">
                            <label class="form-check-label"><input class="form-check-input" type="checkbox"
                                                                   name="outdoor[]"
                                                                   value="mustard"> Swimming</label>
                        </div>
                        <div class="form-check form-check-inline col">
                            <label class="form-check-label"><input class="form-check-input" type="checkbox"
                                                                   name="outdoor[]"
                                                                   value="sriracha"> Collecting</label>
                        </div>
                    </div>
                </div>

                <div class="mb-4">
                    <input class="btn btn-info align-right " type="submit" value="Next>">
                </div>
            </form>
        </div>
    </div>


</main>
</body>
</html>