<!--
Author: Cruiser Baxter
Date: 09-May-2021
File: info.html
Description: info page view for dating website.
-->

<include href="views/header.html"/>
<main class="container ">
    <div class="border p-4 pb-5 rounded-sm">
        <div>
            <h2>Profile</h2>
        </div>

        <hr>
        <div class="">
            <form action="#" method="post" class="">
                <div class="form-group w-50 right-align rounded-sm">
                        <label class="ml-3 bold-font">Biography
                            <textarea class="form-control" id="textarea" rows="5" cols="70"></textarea>
                        </label>
                </div>

                <div class="form-group">
                    <label for="email" class=" control-label bold-font">Email
                    </label>
                    <input class="form-control w-50" type="text" name="email" id="email">

                </div>
                <div class="form-group">
                    <label for="state" class="control-label bold-font">State
                    </label>
                    <input class="form-control w-50" type="text" name="state" id="state">
                </div>

                <label class="control-label bold-font">Seeking</label>
                <div class="form-group form-inline">
                    <label><input type="radio" name="seekinggender" id="male" value="male"> Male</label>
                    <label><input type="radio" name="seekinggender" id="female" value="female"> Female</label>
                </div>

                <div class="mb-4">
                    <input class="btn btn-info align-right " type="submit" value="Next>">
                </div>
            </form>
        </div>
    </div>
</main>
</body>
</html>