<!--
Author: Cruiser Baxter
Date: 09-May-2021
File: summary.html
Description: summary page view for dating website.
-->

<include href="views/header.html"/>
<main class="container ">
    <div class="border rounded-sm p-4 pt-2 row m-4">
    <div class="w-50 p-4 col">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td class="p-3">Name: {{ @SESSION.member->getFname()  }} {{ @SESSION.member->getLname()  }}</td>
            </tr>
            <tr>
                <td class="p-3">Gender: {{ @SESSION.member->getGender()  }}</td>
            </tr>
            <tr>
                <td class="p-3">Age: {{ @SESSION.member->getAge()  }}</td>
            </tr>
            <tr>
                <td class="p-3">State: {{ @SESSION.member->getState()  }}</td>
            </tr>
            <tr>
                <td class="p-3">Seeking: {{ @SESSION.member->getSeeking()  }}</td>
            </tr>
            <check if="{{ @SESSION.member instanceof PremiumMember}}">
            <tr>
                <td class="p-3"> Interests: {{ @SESSION.member->getIndoorInterests()  }}
                    {{ @SESSION.member->getOutdoorInterests()  }}</td>
            </tr>
            </check>
            <tr>
                <td class="p-3">Phone: {{ @SESSION.member->getPhone()  }}</td>
            </tr>
            <tr>
                <td class="p-3">Email: {{ @SESSION.member->getEmail()  }}</td>
            </tr>
            </tbody>
        </table>
    </div>
        <div class="w-50 p-4 col">
            <img alt="profile photo" src="images/profile.jpg" class="img-thumbnail round-corners profile-image img-fluid">
            <h5 class="pt-4">Biography</h5>
            <p class="">
                {{ @SESSION.member->getBio()  }}
            </p>
        </div>
    <div class="text-center row">
        <div class="col">
            <button type="button" class="btn btn-info">Contact Me!</button>
        </div>

    </div>
    </div>


</main>
</body>
</html>